*{
    outline: 1px solid red;
   }
   

body{
    margin: 0;
}
/* header */

.navbar {
    height: 50px;
    padding: 20px;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    list-style: none;
}
.navbar ul li {
    margin-left: 5%;
    margin-right: 5%;
}
.nav-item a {
    color: #064420;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    transition: 0.4s ease-out;
}
.nav-item a:hover {
    font-weight: bold;
}

